<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Control Car - Inicio Sesion</title>
  <!-- Favicon -->
  <link rel="icon" href="../assets/logos/car.png" type="image/x-icon" />
  <!-- Style-->
  <link rel="stylesheet" href="../style/index.css" />
  <link rel="stylesheet" href="../style/inicio.css" />
  <link rel="stylesheet" href="../style/inicioSesion.css" />
  <!-- Box Icons -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
  <!-- Navbar -->
  <header>
    <nav>
      <div class="nav nav-container nav-borde">
        <i class="bx bx-menu menu-close" id="menu-icon"></i>
        <a href="../index.html" class="logo">Control<span>Car</span></a>
        <ul class="navbar">
          <li class="navbar-padding">
            <a href="../index.html">Inicio</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Seccion Inicio Sesion -->
  <section class="sec-container">
    <div class="forms-container">
      <div class="signin-signup">
        <!-- Iniciar Sesion -->
        <form action="../views/inicio.html" class="sign-in-form" id="inicio-sesion-form">
          <h2 class="title">Iniciar Sesión</h2>
          <div>
            <input class="input-field" type="text" placeholder="Mail" id="mail-inicio-sesion" required />
            <div id="mailSesionFeedback" class="invalid-feedback">Por favor, ingresa un correo válido</div>
          </div>
          <div>
            <input class="input-field" type="password" placeholder="Contraseña" id="password-inicio-sesion" required />
            <div id="passwordSesionFeedback" class="invalid-feedback">La contraseña debe tener al menos 7 caracteres
            </div>
          </div>
          <input type="submit" value="Iniciar Sesión" class="btn solid" />
        </form>
        <!-- Registrarse Particular -->
        <form action="#" class="sign-up-form" id="form-particular">
          <h2 class="title">Registrar <span>Particular</span></h2>
          <div>
            <input class="input-field" type="text" placeholder="Nombre" id="nombre" required />
            <div id="nombreFeedback" class="invalid-feedback">
              <p>El nombre solo puede contener letras.</p>
            </div>
          </div>
          <div>
            <input class="input-field" type="text" placeholder="Apellido" id="apellido" required />
            <div id="apellidoFeedback" class="invalid-feedback">El apellido solo puede contener letras.</div>
          </div>
          <div>
            <input class="input-field" type="text" placeholder="DNI" id="dni" />
            <div id="dniFeedback" class="invalid-feedback">El DNI debe tener 7 u 8 dígitos.</div>
          </div>
          <div>
            <input class="input-field" type="text" placeholder="CUIL" id="cuil" required />
            <div id="cuilFeedback" class="invalid-feedback">El CUIL debe tener el formato XX-XXXXXXX-X y coincidir con
              el DNI.</div>
          </div>
          <div>
            <input class="input-field" type="email" placeholder="Mail" id="mail" required />
            <div id="mailFeedback" class="invalid-feedback">Por favor, ingresa un correo válido.</div>
          </div>
          <div>
            <input class="input-field" type="password" placeholder="Contraseña" id="contrasena" required />
            <div id="contrasenaFeedback" class="invalid-feedback">La contraseña debe tener al menos 7 caracteres.</div>
          </div>
          <input type="submit" class="btn" value="Registrarse" />
        </form>
        <!-- Registrarse Entidad -->
        <form action="#" class="sign-up-form" id="form-entidad">
          <h2 class="title">Registrar <span>Entidad</span></h2>
          <div>
            <input class="input-field" type="text" placeholder="Nombre Entidad" id="nombre-entidad" required />
            <div id="nombreEntidadFeedback" class="invalid-feedback">
              <p>El nombre solo puede contener letras.</p>
            </div>
          </div>
          <div>
            <input class="input-field" type="text" placeholder="CUIT Entidad" id="cuit" required />
            <div id="cuitFeedback" class="invalid-feedback">
              <p>El CUIT debe tener el formato XX-XXXXXXXX-X.</p>
            </div>
          </div>
          <div>
            <input class="input-field" type="email" placeholder="Mail" id="mail-entidad" required />
            <div id="mailEntidadFeedback" class="invalid-feedback">Por favor, ingresa un correo válido.</div>
          </div>
          <div>
            <input class="input-field" type="password" placeholder="Contraseña" id="contrasena-entidad" required />
            <div id="contrasenaEntidadFeedback" class="invalid-feedback">La contraseña es incorrecta.
            </div>
          </div>
          <input type="submit" class="btn" value="Registrarse" />
        </form>
      </div>
    </div>
    <!-- Panels -->
    <div class="panels-container">
      <!-- Panel Registrarse -->
      <div class="panel left-panel">
        <div class="content">
          <h2 class="text-titulo-panel">¡Regístrate!</h2>
          <p>
            Regístrese con sus datos personales para usar todas las funciones
            del sitio
          </p>
          <button class="btn transparent" id="sign-up-btn-p">
            Particular
          </button>
          <button class="btn transparent" id="sign-up-btn-e">Entidad</button>
        </div>
      </div>
      <!-- Panel Iniciar Sesion -->
      <div class="panel right-panel">
        <div class="content">
          <h2 class="text-titulo-panel">¡Bienvenido!</h2>
          <p>
            Ingrese sus datos personales para usar todas las funciones del
            sitio
          </p>
          <button class="btn transparent" id="sign-in-btn">
            Iniciar Sesión
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Scripts -->
  <script src="../scripts/index.js"></script>
  <script src="../scripts/inicioSesion.js"></script>
</body>

</html>