<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Control Car - Notificaciones</title>
  <link rel="icon" href="../assets/logos/alerta.png" type="image/x-icon" />
  <!-- Style -->
  <link rel="stylesheet" href="../style/inicio.css" />
  <link rel="stylesheet" href="../style/index.css" />
  <link rel="stylesheet" href="../style/styleNofitication.css" />

  <!-- Box Icons -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
  <!-- Navbar -->
  <header class="header-desactive">
    <nav>
      <div class="nav nav-container">
        <a href="./inicio.html" class="logo">Control<span>Car</span></a> 
      </div>
    </nav>
  </header>
  <!--Seccion Notificaciones -->
  <div class="container">
    <div class="wrapper">
      <div class="top-bar">
        <div class="title">
          <p class="title-text">Notificaciones</p>
          <p class="num" id="num">0</p>
        </div>
        <a href="#" class="read" id="read">Eliminar Todas</a>
      </div>
      <!--Notificacion 1-->
      <div class="notifications">
        <!-- <div class="single-box unseen" id="single-box1">
          <div class="avatar-box-text">
            <div class="avatar">
              <img src="../assets/imagenes/corolla.png" alt="perfil-imagen" />
            </div>
            <div class="box-text">
              <p class="notifi">
                <a href="" class="name">Toyota Corolla</a> necesita cambio de
                aceite
              </p>
              <p class="time">Hace 1 Minuto</p>
            </div>
          </div>
          <div class="box-img">
            <a href="#" id="delete1">
              <img src="../assets/logos/eliminar.png" alt="" class="user-pic-pic" />
            </a>
          </div>
        </div> -->
        <!--Notificacion 2-->
        <!-- <div class="single-box" id="single-box2">
          <div class="avatar-box-text">
            <div class="avatar">
              <img src="../assets/imagenes/corolla.png" alt="perfil-imagen" />
            </div>
            <div class="box-text">
              <p class="notifi">
                <a href="" class="name">Toyota Corolla</a> necesita cambio de
                aceite
              </p>
              <p class="time">Hace 1 Minuto</p>
            </div>
          </div>
          <div class="box-img">
            <a href="#" id="delete2">
              <img src="../assets/logos/eliminar.png" alt="" class="user-pic-pic" />
            </a>
          </div>
        </div> -->
      </div>
    </div>
  </div>


  <!-- Scripts -->
  <script src="../scripts/actualizarNotificaciones.js"></script>
  <!-- <script src="../scripts/notificationPageScript.js"></script> -->
  <script src="../scripts/perfil.js"></script>
  <script src="../scripts/notificationPage.js"></script>

</body>

</html>